gerar_embeddings.py
analise_tjpr.py
estruturador_ia.py
jurimetria_tjpr_final.xlsx
jurimetria_tjsp_final.xlsx
Openrouter KEY.txt
banco_vetorial_tjsp_e5.pkl
resultado_tjpr_furtivo.csv
resultado_tjsp_furtivo.csv
scraper_tjpr.py
scraper_tjsp.py
simulador_juridico.py
raw_nome_sujo.csv
estruturado_nome_sujo.xlsx
fabrica_jurimetria_tjpr.py
